workflows/ideas_to_telegram.json
{
  "name": "Content Factory - Ideas a Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Inicio manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "tema", "value": "finanzas personales" }
          ],
          "number": [
            { "name": "n", "value": 5 }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Definir tema",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"stream\": false,\n  \"prompt\": \"Genera {{ $json.n }} ideas de videos cortos sobre el tema: {{ $json.tema }}. Responde solo con una lista numerada, cada idea en una linea, con un titulo y un gancho.\"\n}",
        "options": { "timeout": 180000 }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Ollama: generar ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"IDEAS NUEVAS:\\n\\n{{ $json.response }}\\n\\nResponde con el numero de la idea que apruebas.\"\n}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Telegram: enviar ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 320]
    }
  ],
  "connections": {
    "Inicio manual": {
      "main": [[{ "node": "Definir tema", "type": "main", "index": 0 }]]
    },
    "Definir tema": {
      "main": [[{ "node": "Ollama: generar ideas", "type": "main", "index": 0 }]]
    },
    "Ollama: generar ideas": {
      "main": [[{ "node": "Telegram: enviar ideas", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": ["content-factory"]
}
